

<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="ecommerce">Afrimat</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              {{#link-to 'products' tagName="li"}}<a href>Home</a>{{/link-to}}
             {{!--  <li>{{#link-to 'products'}}Products{{/link-to}}</li> --}}
            
            <div class="navbar-right search-field">
			{{#bs-form formLayout="inline" action="search"}}
				{{bs-input type="text" value=searchField placeholder="Search Product"}}
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			{{/bs-form}}
		    </div>

          </ul>


          <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
              <a href="register" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                  {{!-- <ul class="dropdown-menu" role="menu">
                                 
                      <form class='navbar-form' method='POST' action=''>
                        <div class='form-group'>
                            <input type='text' class='form-control' name='username' placeholder='Username' /> 
                        </div>
                        <div class='form-group'>
                            <input type='password' class='form-control' name='password' placeholder='Password' />
                        </div>
                        <button type='submit' class='btn btn-default btn-block'>Login</button>
                    </form>
                   <p class='text-center'><a href=''>Forgot password</a>?</p>
                   </ul> --}}
                </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">


          
     {{!--  <ul class="list-group"> 
      {{# each Product in filteredProducts}}

           <li class="list-group-item">  
             {{#link-to 'ecommerce.product'}}{{Product.description}} ({{Product.price}})<br>
             <img class="feed-img" src="{{Product.image}}" />{{/link-to}}
           </li>

       {{/each}}
      </ul> --}}
         <div class="row">
              <div class="col-md-12">
              {{outlet}}
                         
              </div>

         </div>


    </div><!-- /.container -->

                 



<footer>
  &copy;2016 Afrimat Inc.
</footer>